body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameArea {
  width: 60vw;
  height: 60vh;
  background-color: #87ceeb;
  position: relative;
  overflow: hidden;
  border: 5px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bird {
  width: 30px;
  height: 30px;
  background-color: #ffd700;
  position: absolute;
  border-radius: 50%;
  left: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.obstacle {
  width: 50px;
  background-color: #228b22;
  position: absolute;
  right: -50px; /* Initial position outside the game area */
}

#score,
#startBtn,
#restartBtn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #008b8b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#restartBtn {
  /* display: none; */
}
